@page "/"

<PageTitle>Treasure</PageTitle>

<MudPaper Class="mb-3">
    <MudToolBar Class="d-flex justify-space-between flex-grow-1">
        <AuthorizeView>
            <Authorized>
                <MudIconButton Icon="@Icons.Material.Outlined.Add" Color="Color.Inherit" Href="/PostAdd" />
            </Authorized>
        </AuthorizeView>
        <div class="d-flex flex-grow-1 flex-column align-center">
            <MudPagination ShowFirstButton="true" ShowLastButton="true" Count="4" />
        </div>
        <MudTextField @bind-Value="SearchText" @bind-Value:after="PerformSearch" Label="Search" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" Margin="Margin.Dense" AdornmentColor="Color.Primary" />
        <MudIconButton Class="ml-1" Icon="@Icons.Material.Outlined.Settings" Color="Color.Inherit" />
    </MudToolBar>
</MudPaper>

<MudGrid>
    @if (memes == null)
    {
        @for (int i = 0; i < 12; i++)
        {
            <MudItem xs="12" sm="6" md="3">
                <MudCard>
                    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="200px" />
                    <MudCardContent>
                        <MudSkeleton Height="42px;" />
                    </MudCardContent>
                    <MudCardActions>
                        <MudSkeleton Width="64px" Height="40px" Class="me-1" />
                        <MudSkeleton Width="64px" Height="40px" Class="me-1" />
                    </MudCardActions>
                </MudCard>
            </MudItem>
        }

    }
    else
    {
        @foreach (var item in memes)
        {
            <MudItem xs="12" sm="6" md="3">
                <MudCard Class="border-solid">
                    <MudLink Href="@($"/PostDetail/{item.Id}")" Color="Color.Tertiary" Underline="Underline.None">
                        @*<MudCardMedia Image="@(item.UrlToFile.Replace(@"\", "/"))"/>*@
                        <MudCardContent>
                            <MudBadge Content="item.TypeOfFile.ToString()" Color="Color.Primary" Overlap="true">
                                <MudImage Fluid="true" Src="@item.UrlToFile" Class="rounded-lg"></MudImage>
                                <MudText Typo="Typo.h6">@item.Title</MudText>
                            </MudBadge>
                        </MudCardContent>
                    </MudLink>
                    <MudCardActions>
                        <MudButton @onclick="()=>PutReact(React.Like, item.Id)" Variant="Variant.Text" aria-label="kek">
                            <MudImage Class="me-1" Src="/staticimgs/ICANT1x.webp"></MudImage>
                            @item.Like
                        </MudButton>
                        <MudButton @onclick="()=>PutReact(React.Dislike, item.Id)" Variant="Variant.Text" aria-label="cringe">
                            <MudImage Class="me-1" Src="/staticimgs/CatCringe1x.webp"></MudImage>
                            @item.Dislike
                        </MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        }
    }
</MudGrid>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    [Inject]
    private IMediaFilesService mediaFilesService { get; set; }

    [Inject]
    private IReactedUserService reactedUserService { get; set; }

    [Inject]
    private NavigationManager navigationManager { get; set; }

    [Inject]
    private IUsersService usersService { get; set; }

    [Inject]
    private ISnackbar Snackbar { get; set; }

    private IEnumerable<MediaViewModel> memes { get; set; }
    private UserViewModel user { get; set; }

    public string SearchText { get; set; }

    private AuthenticationState authState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            memes = await mediaFilesService.GetMediaFiles();
            authState = await authenticationState;
            user = await usersService.GetUserByName(authState.User.Identity.Name);
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Some shit happend in the server, info: {ex.Message}", Severity.Error);
        }
    }

    private async Task PutReact(React reaction, Guid guidPost)
    {
        try
        {
            if (authState.User.Identity.IsAuthenticated)
            {
                var post = await mediaFilesService.GetMediaViewModel(guidPost);
                if (!post.WhoReacted.Any(w => w.IdReactedUser == user.Id))
                {
                    //post.WhoReacted.Add(new ReactedUserViewModel
                    //{
                    //    IdReactedUser = user.Id,
                    //    ChosenReact = reaction,
                    //});
                    var changePost = await mediaFilesService.MakeReactionInPost(post.Id, new ReactedUserViewModel
                        {
                            IdReactedUser = user.Id,
                            ChosenReact = reaction,
                        });

                    memes.First(m => m.Id == guidPost).WhoReacted = changePost.WhoReacted;
                }
                else
                {
                    var whoReacted = post.WhoReacted.First(w => w.IdReactedUser == user.Id);
                    var react = await reactedUserService.DeleteReactedUser(whoReacted.Id);

                    memes.First(m => m.Id == guidPost).WhoReacted
                        .Remove(memes
                            .First(m => m.Id == guidPost).WhoReacted
                            .First(a => a.Id == whoReacted.Id));
                    //post.WhoReacted.Remove(whoReacted);
                    //await mediaFilesService.UnMakeReactionInPost(post.Id, whoReacted);
                }
                //await mediaFilesService.PutMediaViewModel(post.Id, post);
                //await GetMemesFromDB();
            }
            else
            {
                navigationManager.NavigateTo("/SignUser", true);
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Some shit happend in the server, try again later, info: {ex.Message[80]}", Severity.Error);
        }
    }

    private async Task PerformSearch()
    {
        try
        {
            Console.WriteLine(SearchText);
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Some shit happend in the server, info: {ex.Message}", Severity.Error);
        }
    }
}