@page "/PostDetail/{PostID:guid}"

<PageTitle>Post info</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium">
    <MudGrid>
        @if (media != null)
        {
            <MudItem xs="12">
                <MudText Typo="Typo.h4">@media.Title</MudText>
            </MudItem>
            <MudItem xs="12">
                <MudPaper>
                    <MudToolBar Class="d-flex justify-space-between">
                        <AuthorizeView>
                            <Authorized>
                                @if (userOfUploader.UserName == authState.User.Identity.Name)
                                {
                                    <MudIconButton Variant="Variant.Filled" Href=@($"/PostEdit/{media.Id}") Color="Color.Primary" Icon="@Icons.Material.Outlined.Edit" />
                                    <MudIconButton Variant="Variant.Filled" @onclick="DeletePost" Color="Color.Primary" Icon="@Icons.Material.Outlined.Delete" />
                                }         
                            </Authorized>
                        </AuthorizeView>
                        <div>
                            <MudButton Variant="Variant.Outlined" aria-label="kek">
                                <MudImage Class="me-1" Src="/staticimgs/ICANT1x.webp"></MudImage>
                                @media.Like
                            </MudButton>
                            <MudButton Variant="Variant.Outlined" aria-label="cringe">
                                <MudImage Class="me-1" Src="/staticimgs/CatCringe1x.webp"></MudImage>
                                @media.Dislike
                            </MudButton>
                        </div>
@*                        <MudMenu Variant="Variant.Filled" Color="Color.Primary" Icon="@Icons.Material.Outlined.MoreVert" >
                            <MudMenuItem Href="@media.UrlToFile">Open media in current tab</MudMenuItem>
                        </MudMenu>*@
                        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Primary">Download</MudButton>
                    </MudToolBar>
                </MudPaper>
            </MudItem>
            <MudItem Class="d-flex justify-center" xs="12">
                <MudImage Fluid="true" Width="720" Src="@media.UrlToFile" Alt="@media.Title" />
            </MudItem>
            <MudItem xs="12">
                <MudChipSet ReadOnly="false">
                    @foreach (var item in media.Categories)
                    {
                        <MudChip Text="@item.Name"></MudChip>
                    }
                </MudChipSet>
            </MudItem>
            <MudItem xs="12">
                <MudStack Row="true" AlignItems="AlignItems.Center">
                    @if (userOfUploader != null)
                    {
                        <MudAvatar Color="Color.Primary">
                            <MudImage Src="@userOfUploader.ProfilePicture"></MudImage>
                        </MudAvatar>
                        <MudText>
                            @userOfUploader.UserName
                        </MudText>
                    }
                    else
                    {
                        <MudSkeleton SkeletonType="SkeletonType.Circle" Width="50px" Height="50px"></MudSkeleton>
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="150px"></MudSkeleton>
                    }
                </MudStack>
            </MudItem>
        }
        else
        {
            <MudItem xs="12">
                <MudSkeleton SkeletonType="SkeletonType.Text" />
                <MudSkeleton SkeletonType="SkeletonType.Text" />
            </MudItem>
            <MudItem xs="12">
                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="600px" />
            </MudItem>
        }
    </MudGrid>
</MudContainer>

@code {
    [Parameter]
    public Guid PostID { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    [Inject]
    private IDialogService DialogService { get; set; }

    [Inject]
    private NavigationManager navigationManager { get; set; }

    [Inject]
    private IMediaFilesService mediaFilesService { get; set; }

    [Inject]
    private IUsersService usersService { get; set; }

    [Inject]
    private ISnackbar snackbar { get; set; }

    private AuthenticationState authState { get; set; }

    private MediaViewModel media { get; set; }

    private UserViewModel userOfUploader { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            authState = await authenticationState;
            media = await mediaFilesService.GetMediaViewModel(PostID);
            userOfUploader = await usersService.GetUser(media.IdOfCreator);
        }
        catch (Exception ex)
        {
            snackbar.Add($"Error happend in the server, info: {ex.Message}", Severity.Error);
        }
    }

    private async Task DeletePost()
    {
        var parameters = new DialogParameters<DialogConfirm>();
        parameters.Add(x => x.ContentText, "Do you really want to delete this post? This process cannot be undone.");
        parameters.Add(x => x.ButtonText, "Delete");
        parameters.Add(x => x.Color, Color.Error);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

        var dialog = await DialogService.ShowAsync<DialogConfirm>("Delete", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await mediaFilesService.DeleteMediaViewModel(PostID);
            var path = Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", media.UrlToFile);
            System.IO.File.Delete(path);
            navigationManager.NavigateTo("/", true);
        }
    }
}
