<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
                <NotAuthorized>
                    <MudContainer MaxWidth="MaxWidth.ExtraLarge">
                        <div class="d-flex flex-grow-1 flex-column align-center">
                            <h2>You are not authorized to see this.....</h2>
                            <MudImage Src="staticimgs/SUSYCAT4x.webp"></MudImage>
                        </div>
                    </MudContainer>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <MudContainer MaxWidth="MaxWidth.ExtraLarge">
                    <div class="d-flex flex-grow-1 flex-column align-center">
                        <h2 role="alert">Have you lost?</h2>
                        <MudLink Href="/">Back where you came</MudLink>
                    </div>
                </MudContainer>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>