<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <MudContainer MaxWidth="MaxWidth.ExtraLarge">
                        <div class="d-flex flex-grow-1 flex-column align-center">
                            <h2>You are not authorized to see this.....</h2>
                            <MudImage Src="staticimgs/SUSYCAT4x.webp"></MudImage>
                        </div>
                    </MudContainer>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <MudContainer MaxWidth="MaxWidth.ExtraLarge">
                    <div class="d-flex flex-grow-1 flex-column align-center">
                        <div class="relative d-flex flex-grow-1 flex-column align-center" style="margin: auto;">
                            <MudImage Class="d-none d-sm-flex rounded-lg ma-4" Style="width:75%;" Src="staticimgs/backgroundForest.webp"></MudImage>
                            <MudImage Class="d-flex fixed" Style="right: 50px; top:100px; width:25%;" Src="staticimgs/CATSSITFIRE4x.webp"></MudImage>
                        </div>
                        <h2 role="alert">Have you lost?</h2>
                        <MudLink Href="/">We can bring you back to home!</MudLink>
                    </div>
                </MudContainer>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>